.editor {
    /* --bn-colors-editor-background: var(--color-background); */
    /* --bn-colors-menu-background: var(--color-background); */
    /* border: 1px solid var(--color-border);
    --bn-colors-editor-text: var(--color-foreground);
    --bn-colors-menu-text: var(--color-primary-foreground);
    --bn-colors-tooltip-text: var(--color-primary-foreground);
    --bn-colors-tooltip-background: var(--color-card);
    --bn-colors-hovered-text: var(--color-primary-foreground);
    --bn-colors-hovered-background: var(--color-muted-foreground);
    --bn-colors-selected-text: var(--color-muted-foreground);
    --bn-colors-selected-background: var(--color-muted-foreground);
    --bn-colors-disabled-text: var(--color-muted-foreground);
    --bn-colors-disabled-background: var(--color-muted-foreground);
    --bn-colors-shadow: var(--color-sidebar);
    --bn-colors-border: var(--color-border);
    --bn-colors-side-menu: var(--color-sidebar);
    --bn-border-radius: 6px; */
}
.blockGroup {
    /* border: 1px solid var(--color-border); */
}
.block {
    /* border: 2px solid lightgray; */
}

.blockContent {
    /* border: 1px solid var(--color-border); */
}

.inlineContent {
    /* border: 1px solid var(--color-border); */
}
.bn-container[data-theming-css-demo],
.bn-editor {
    background-color: var(--color-card);
}

.bn-editor {
    /* background-color: white; */
}

.bn-toolbar[data-theming-css-demo] * {
    background-color: black;
}
.bn-side-menu[data-theming-css-demo] * {
    background-color: black;
}
.bn-drag-handle-menu[data-theming-css-demo] * {
    background-color: black;
}
.bn-suggestion-menu[data-theming-css-demo] * {
    background-color: black;
}

/*[data-content-type="blockType"]: Targets blocks of type blockType.*/

/*[data-propName="propValue"]: Targets blocks with specific prop values. If the value is the same as the default value, the data-propName attribute will not be added.*/

/* Editor Structure
.bn-container: Container for editor and all menus/toolbars.
.bn-editor: Main editor element.
.bn-block: Individual block element (including nested).
.bn-block-group: Container for nested blocks.
.bn-block-content: Block content wrapper.
.bn-inline-content: Block's editable rich text content.
*/
